<ion-content [fullscreen]="true">
  <div class="h-screen p-12 grid grid-rows-3">
    <div class="grid grid-rows-2 grid-cols-5 row-span-2 col-span-5">
      <ion-card class="row-span-2" mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Problem</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card class="row-span-1" mode="ios">
        <ion-card-header><ion-card-subtitle>Solution</ion-card-subtitle></ion-card-header></ion-card>
      <ion-card class="row-span-1" mode="ios">
        <ion-card-header><ion-card-subtitle>Unfair Advantage</ion-card-subtitle></ion-card-header></ion-card>
      <ion-card class="row-span-2" mode="ios">
        <ion-card-header><ion-card-subtitle>Customer Segments</ion-card-subtitle></ion-card-header></ion-card>
      <ion-card class="row-span-1" mode="ios">
        <ion-card-header><ion-card-subtitle>Key Metrics</ion-card-subtitle></ion-card-header></ion-card>
      <ion-card class="row-span-1" mode="ios">
        <ion-card-header><ion-card-subtitle>Channels</ion-card-subtitle></ion-card-header></ion-card>
    </div>
    <div class="grid grid-rows-1 grid-cols-2 row-span-1 col-span-5">
      <ion-card mode="ios">
        <ion-card-header><ion-card-subtitle>Cost Structure</ion-card-subtitle></ion-card-header></ion-card>
      <ion-card mode="ios">
        <ion-card-header><ion-card-subtitle>Revenue Steams</ion-card-subtitle></ion-card-header></ion-card>
    </div>
  </div>
</ion-content>