<ion-content [fullscreen]="true">
  <div class="h-screen p-12 grid grid-rows-6">
    <div class="grid grid-rows-4 grid-cols-5 row-span-4 col-span-5">
      <ion-card class="row-span-4" mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Problem</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <div class="grid grid-rows-4 row-span-4">
        <ion-card class="row-span-2" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Solution</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="row-span-2" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Key Metrics</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

      <ion-card class="row-span-4" mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Unique Value Proposition</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <div class="grid grid-rows-4 row-span-4">
        <ion-card class="row-span-2" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Unfair Advantage</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="row-span-2" mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Channels</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

      <ion-card class="row-span-4" mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Customer Segments</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>


    <div class="grid grid-rows-1 grid-cols-2 row-span-2 col-span-5">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Cost Structure</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Revenue Steams</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>